.header {
    text-align:center;
    font-weight: 800;
}

.card-text{
    color:#DFDFEF;
    text-align:center;
}

th{
    color:#DFDFEF;
    border-top: hidden;
    border-bottom: hidden;
}



tr{
    border-top: hidden;
    font-weight: 900;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:  #364061;
   border-top: hidden;
 }




